@import "tailwindcss";

:root {
  --bg: 255 255 255;
  --text: 0 0 0;
  --primary: 59 130 246;
  --secondary: 107 114 128;
}

[data-theme="dark"] {
  --bg: 17 24 39;
  --text: 255 255 255;
  --primary: 147 197 253;
  --secondary: 156 163 175;
}